<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
</head>
<body>
    <style>
        div{
            background-color: rgb(228, 183, 99);
        }
        h2{
            color: white;
        }
    </style>
    <div>
        <h2>Nomes:</h2>
        <p>Murillo Gomes Mota <small>29518709</small></p>
        <p>Gabriel Castro de Almeida <small>29629381</small></p>
        <p>Sofia da Silva Alonso <small>30130042</small></p>
        
    </div>
</body>
</html>